body {
  height: 100vh;
  background-color: silver;
  // background: linear-gradient(124deg, rgba(28,170,79,1) 13%, rgba(82,210,196,1) 64%, rgba(255,255,255,1) 100%, rgba(255,255,255,1) 100%);
  margin: 0;
  padding: 0;
}
p{
  margin: 0;
  font-family: 'Lato', sans-serif;
}
.header{
  background-color: #5c6160;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  .logo{
    height: 78px;
    width: 78px;
    background-image: url("../../dist/img/medicine_logo.png");
    background-size: cover;
    .fa-clinic-medical{
      margin-top: 4px;
      font-size: 70px;
      color: #1c4f70;
      border: #2980b9 2px solid;
    }
  }
  .logo_and_button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
  }
  .enter-btn {
    padding: 5px 10px;
    color: #fff;
    background-color:#1c4f70;
    border: #2980b9 2px solid;
    border-radius: 10px;
    width: 100px;
    height: 35px;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
  }
  .create_card_btn{
    width: 150px;
    color: #fff;
    background-color:#1c4f70;
    border: #2980b9 2px solid;
    border-radius: 10px;
    height: 35px;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
  }
  
}

.container{
  width: 1140px;
}

.hidden{
  display: none;
  visibility: hidden;
}



.second_block{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .search_form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    select {
      color: #fff;
      background-color:#1c4f70;
      border: #2980b9 2px solid;
      border-radius: 10px;
      width: 120px;
      height: 30px;
      margin: 15px;
      font-family: 'Lato', sans-serif;
      font-size: 15px;
      option{
        font-family: 'Lato', sans-serif;
        font-size: 14px;
      }

    }
    input{
      color: #fff;
      background-color:#1c4f70;
      border: #2980b9 2px solid;
      border-radius: 10px;
      width: 200px;
      height: 30px;
      margin: 15px;
      font-family: 'Lato', sans-serif;
      font-size: 15px;
    }
    button{
      color: #fff;
      background-color:#1c4f70;
      border: #2980b9 2px solid;
      border-radius: 10px;
      width: 200px;
      height: 30px;
      margin: 15px;
      font-family: 'Lato', sans-serif;
      font-size: 15px;
    }
  }
  
}

.place_for_cards{
  display: flex;
  justify-content: center;
  display: none;
  .card_bg {
  width: 100%;
  min-height: 400px;
  background-color:  #5157566c;
  display: grid;
  grid-template-rows:  auto;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  div {
    margin-top: 50px;
    width: 280px;
    background-color: rgb(168, 168, 168);
    min-height: 120px;
    border: #2980b9 2px solid;
    border-radius: 10px;
    padding: 10px;
    color: rgb(0, 28, 51);
    // font-family: 'Lato', sans-serif;

  }
}}

.my-template {
  display: none;
  position: relative;
}
.hidden-block {
  display: block;
}
.appointment-block {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;


  .card-name {
    text-align: center;
    font-weight: bold;
    color: #fff;
    font-size: 24px;
    font-family: 'Monserat', sans-serif;
  }
  .select-doctor {
    margin-left: 100px;
    margin-top: 35px;
    width: 300px;
    height: 35px;
    background-color: #a9f8f6;
    border-radius: 10px;
    border: 2px solid #fafff1;
  }
  .card {
    width: 500px;
    height: 200px;
    position: absolute;
    right: 400px;
    left: auto;
    background-color: #868ce8;
    border-radius: 15px;
    border: 3px solid #d7dcf8;
  }
  .submit-btn {
    padding: 10px 20px;
    background-color: #a9f8f6;
    border-radius: 3px;
    margin-right: 15px;
    border: none;
    color: #9555ee;
    font-weight: bold;
  }
  .cancel-btn {
    padding: 10px 20px;
    margin-left: 15px;
    background-color: #a9f8f6;
    border-radius: 3px;
    border: none;
    font-weight: bold;
    color: #9555ee;
  }
  .rel {
    .button-wrapper {
      display: flex;
      margin-top: 25px;
      margin-left: 150px;
      
    }
  }
}
.input-title {
  text-align: center;
  font-weight: bold;
  color: #fff;
  font-size: 24px;
  font-family: 'Monserat', sans-serif;
}
.doctor-input {
  padding: 6px 83px;
  margin-left: 85px;
  border-radius: 10px;
  border: 2px solid #6d51af;
}

